/* Saludo */
.ImagenSaludo{
    background: url("https://res.cloudinary.com/duddljshu/image/upload/v1657773918/WhatsApp_Image_2022-07-13_at_11.44.13_PM_1_acidgb.jpg") no-repeat center center fixed;
    background-size:cover
}






.card:hover{
    box-shadow: 0 0.5rem 0.8rem rgba(0,0,0,0.3);
    transition: box-shadow 0.5s ease;
    -webkit-transition: box-shadow 0.5s ease;
    -moz-transition: box-shadow 0.5s ease;
    -ms-transition: box-shadow 0.5s ease;
    -o-transition: box-shadow 0.5s ease;
}


@media (max-width: 768px){
    .IsaacImage{
        display: flex;
        justify-content: center;
    }
}
